html {
  --moyo-blue: #00acdc;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  background-color: #e5e5e5;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;

  background-color: #fff;
}

.header__content {
  padding: 0;
  flex-grow: 1;
  max-width: 1200px;
  margin: 0;
  margin-right: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-left: 50px;
  margin-right: auto;
}

.logo .img__logo {
  display: block;
  height: 40px;
  width: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

.nav__item {
  list-style: none;
}

.nav__link {
  display: inline-block;
  position: relative;

  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;

  white-space: nowrap;
  margin-right: 20px;
  height: 60px;
  line-height: 60px;
}

.nav__item:last-child .nav__link {
  margin-right: 0;
}

.nav__item:first-child .nav__link {
  margin-left: 0;
}

.nav__link.is-active,
.nav__link:hover {
  color: var(--moyo-blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  background-color: var(--moyo-blue);
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .logo {
    margin-right: auto;
  }
}
